@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 7%;
  --foreground: 0 0% 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #121214;
  color: white;
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
} 